
<div class="main" ng-show="ShowAdminForm">
   
    <div id="main-content">
        <div class="header-wrapper">
            <header class="clearfix">
                <nav class="navbar navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="col-xs-7 col-sm-8 col-md-7 col-lg-8" id="">
                                <ul class="cus-breadcrumb visible-md-block visible-lg-block reset pull-left">
                                 <!--    <li class="link" ng-click="cancelClient();"><a>Client Management</a></li> -->


                                       <li class="" ng-show="!hideNavBar && !editForm">Client Management</li>

                                        <li class="link" ng-click="cancelClient();" ng-show="hideNavBar"><a>Client Management</a></li>
                                        <li class="link" ng-click="cancelClient();" ng-show="editForm"><a>Client Management</a></li>


                                        <li class="" ng-show="hideNavBar">Create New Client</li>
                                         <li class="" ng-show="editForm">Edit Client</li>
                                    
                                </ul>
                                <ul class="hidden-md hidden-lg pull-left reset">
                                    <li><a ng-click="fnClickBar(); $event.preventDefault()"><i class="fa fa-bars"></i></a></li>
                                    <li>BeSociably</li>
                                </ul>
                                <button class="pri-cus-buttons pull-right visible-md-block visible-lg-block" ng-click="showAddForm()" ng-show="!hideNavBar && !editForm && !disableButton"><i class="fa fa-plus"></i> Create New Client</button>
                            </div>
                            <!-- /.navbar-collapse -->
                             <div class="col-xs-5 col-sm-4 col-md-5 col-lg-4 text-right" id="test" ng-include="'views/headerDropDown.html'">
                               
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </header>
        </div><!-- .header-wrapper End -->
        <div class="page-contents" >
            <div class="container-fluid">
                <div class="row">
                    <span class="mar-15-7" style="float: right;"  ng-show="!hideAddUserForm"> <input type="checkbox" ng-model="showItems"  ng-click="showAchievedItems()"  >  &nbsp;Show archived items</span>
                </div>
                <div class="row hidden-md hidden-lg mob-heads">
                  <div class="col-xs-9 col-sm-8">
                      <h3>Client Management</h3>
                  </div>
                  <div class="col-xs-3 col-sm-4 text-right">
                      <button class="pri-cus-buttons" ng-click="showAddForm()" ng-show="!hideNavBar && !editForm && !disableButton"><i class="fa fa-plus"></i> Create New Client</button>
                  </div>
              </div>
              
                
                <div class="row" ng-show="!hideAddUserForm">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="table-responsive cus-cards">
                          <table wt-responsive-table class="table table-striped responsive">
                              <thead>
                                  <tr>
                                      <th ng-click="clientManagementSort(asc=!asc,'Client_Name');">Client Name <i class="fa fa-sort"></i></th>
                                      <th ng-click="clientManagementSort(asc=!asc,'Contact_Name');">Contact Name <i class="fa fa-sort"></i></th>
                                      <th ng-click="clientManagementSort(asc=!asc,'City_State');">City &amp; State <i class="fa fa-sort"></i></th>
                                      <th>Date</th>
                                      <th>Link Accounts</th>
                                      <th>&nbsp;</th>
                                  </tr>
                              </thead>
                              <tbody class="accountlink">
                                  <tr ng-repeat="clientDatas in clientManagementsDatas  | pagination : currentPage*itemsPerPage | limitTo: itemsPerPage">
                                      <td>{{clientDatas.Client_Name}}</td>
                                      <td>{{clientDatas.Contact_Name}}</td>
                                      <td>{{clientDatas.City_State}}</td>
                                      <td >{{clientDatas.SavingDate}}</td>
                                      <td>
                                        <a ng-href="{{clientDatas.LinkToFBUrl}}" target="_blank">  <i class="fa fa-facebook-official" ng-class="{true: 'fa fa-facebook-official', false: 'fa fa-facebook-officia'}[clientDatas.LinkToFB]"></i></a>
                                        <a ng-href="{{clientDatas.LinkToTWUrl}}" target="_blank"> <i class="fa fa-twitter" ng-class="{true: 'fa fa-twitter', false: 'fa fa-twitte'}[clientDatas.LinkToTW]"></i></a>
                                        <a ng-href="{clientDatas.LinkToWPUrl}}" target="_blank"> <i class="fa fa-rss" ng-class="{true: 'fa fa-rss', false: 'fa fa-rs'}[clientDatas.LinkToWP]"></i></a>                                        
                                      </td>

                                      <td>                                       
                                          <i class="fa fa-trash-o" ng-click="deleteClient(clientDatas.id)"  title="Delete" data-toggle="tooltip" data-placement="top" tooltip></i>

                                          <i ng-show="clientDatas.Status == '0'" ng-click="deActivateClient(clientDatas.id)" class="fa fa-ban"
                                           title="Deactivate"  data-toggle="tooltip" data-placement="top" tooltip></i>

                                          <i ng-show="clientDatas.Status == '1'" ng-click="ActivateClient(clientDatas.id)" class="fa fa-check" title="Activate"   data-toggle="tooltip" data-placement="top" tooltip></i>

                                          <i class="fa fa-pencil-square-o" ng-click="editClient(clientDatas)"  title="Edit" data-toggle="tooltip" data-placement="top" tooltip ></i>

                                           <i ng-show="clientDatas.IsArchived == '0'" ng-click="ArchieveClient(clientDatas.id)" class="fa fa-archive"
                                           title="Archive" data-toggle="tooltip" data-placement="top" tooltip></i>

                                          <i ng-show="clientDatas.IsArchived == '1'" ng-click="RestoreClient(clientDatas.id)" class="fa fa-shopping-basket"
                                           title="Restore" data-toggle="tooltip" data-placement="top" tooltip></i>

                                      </td>
                                  </tr>
                                
                                  
                              </tbody>
                          </table>
                        </div>
                    </div>
                </div> <!-- end of content -->
                
                
                <div class="row" ng-if="!hideAddUserForm">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="clearfix">
                            <div class="pull-left">
                                <ul class="cus-pagination reset">
                                    <li ng-repeat="n in range()" ng-class="{current: n == currentPage}" ng-click="setPage(n)">
                                    <a href="">{{n+1}}</a></li>
                                    
                                </ul>
                            </div>

                            <div class="pagination-div pull-right" ng-show="clientManagementsDatas.length > 0">
                                <nav>
                                  <ul class="cus-pagination-pager reset">
                                    <li><button  class="pri-cus-buttons" ng-class="DisablePrevPage()" ng-click="prevPage()" ng-disabled="predisable"><i class="fa fa-angle-double-left"></i> Previous</button></li>
                                      
                                    <li><button class="pri-cus-buttons" ng-class="DisableNextPage()" ng-click="nextPage()" ng-disabled="nextdisable">Next <i class="fa fa-angle-double-right"></i></button></li>
                                  </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div> 
                
<!--  end of .pagination -->
                
                <!--- New Client ---->
                <div class="row" ng-show="hideAddUserForm">
                    <div class="col-sm-12 col-md-offset-3 col-md-6">
                        <div class="cus-panels-with-pad mar-10-0">
                            <form name="clientForm" class="styles" novalidate>
                                                                
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="clientname">Client Name<span class=required> *</span></label>
                                              <div class="control-group" ng-class=" {true: 'error'}[submitted && clientForm.clientName.$invalid]">
                                            <input type="text" class="form-control" id="clientname" ng-model="clientName" name="clientName" required ng-pattern="/^[ a-zA-Z0-9]{1,20}$/">
                                                   <span class=required ng-show="submitted && clientForm.clientName.$error.required">Client name is required </span>
                                                   <span class=required ng-show="clientForm.clientName.$error.pattern">Client name is invalid</span>
                                </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="contactname">Contact Name<span class=required> *</span></label>
                                              <div class="control-group" ng-class=" {true: 'error'}[submitted && clientForm.contactName.$invalid]">
                                            <input type="text" class="form-control" id="contactname" ng-model="contactName" name="contactName" required ng-pattern="/^[ a-zA-Z0-9]{1,20}$/"> 
                                                   <span class=required ng-show="submitted && clientForm.contactName.$error.required">Contact name is required </span>
                                                   <span class=required ng-show="clientForm.contactName.$error.pattern">Contact name is invalid</span>
                                </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                              <div class="control-group" ng-class=" {true: 'error'}[submitted && clientForm.phone.$invalid]">
                                        <input type="tel" class="form-control" id="phone"  ng-model="phone" name="phone" ng-pattern="/^[+-.0-9]{0,13}$/">
                                                   
                                                   <span class=required ng-show="clientForm.phone.$error.pattern">Phone Number is Invalid</span>
                                </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email<span class=required> *</span></label>
                                              <div class="control-group" ng-class=" {true: 'error'}[submitted && clientForm.email.$invalid]">
                                            <input type="email" class="form-control" id="email"  ng-model="email" name="email" required ng-pattern="/^[_a-z0-9]+([_a-z0-9.]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,3})$/">
                                                   <span class=required ng-show="submitted && clientForm.email.$error.required">Email is required </span>
                                                  <span class=required ng-show="clientForm.email.$error.pattern">Email is Invalid</span> 
                                </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="add">Address</label>
                                              <div class="control-group" ng-class=" {true: 'error'}[submitted && clientForm.add.$invalid]">
                                            <input type="text" class="form-control" id="add"  ng-model="add" name="add" >
                                                   
                                </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="city">City</label>
                                              <div class="control-group" ng-class=" {true: 'error'}[submitted && clientForm.city.$invalid]">
                                            <input type="text" class="form-control" id="city"  ng-model="city" name="city" ng-pattern="/^[ a-zA-Z0-9]{1,25}$/">
                                                   
                                                  <span class=required ng-show="clientForm.city.$error.pattern">City is Invalid</span>                                </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="state">State</label>
                                              <div class="control-group" ng-class=" {true: 'error'}[submitted && clientForm.state.$invalid]">
                                            <input type="text" class="form-control" id="state"  ng-model="state" name="state" ng-pattern="/^[ a-zA-Z0-9]{1,25}$/">
                                                   
                                                  <span class=required ng-show="clientForm.state.$error.pattern">State is Invalid</span>
                                </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="zip">Zip</label>
                                              <div class="control-group" ng-class=" {true: 'error'}[submitted && clientForm.zip.$invalid]">
                                            <input type="text" class="form-control" id="zip"  ng-model="zip" name="zip" ng-pattern="/^[0-9]{0,10}$/">
                                                   
                                                   <span class=required ng-show="clientForm.zip.$error.pattern">Zip code is Invalid</span>
                                </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label for="notes">Notes</label>
                                              <div class="control-group" ng-class=" {true: 'error'}[submitted && clientForm.notes.$invalid]">
                                            <textarea class="form-control" id="notes" rows="3"  ng-model="notes" ></textarea>
                                                   <!--<span class=required ng-show="submitted && clientForm.notes.$error.required">Give Notes </span>-->
                                </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="status">Status<span class=required> *</span></label>
                                              <div class="control-group" ng-class=" {true: 'error'}[submitted && clientForm.status.$invalid]">
                                              <select class="form-control" id="status"  ng-model="status" name="status" required>
                                                <option value=" ">Select</option>
                                                <option value="0" ng-selected="status=='0'">Active</option>
                                                <option value="1" ng-selected="status=='1'">Deactivate</option>
                                            </select>
                                                   <span class=required ng-show="submitted && clientForm.status.$error.required">Select Status</span>
                                </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 clearfix">
                                    
                                        <button type="button" class="pri-cus-buttons pull-right" ng-click="AddClient();"
                                          ng-show="showSaveButton">Save</button>
                                        <button type="button" class="pri-cus-buttons pull-right" ng-click="editclientSubmit();" ng-show="!showSaveButton">Save</button>
                                            <button type="button" class="btn btn-default pull-right" ng-click="cancelClient();">Cancel</button>
                                    </div>
                                </div>
                                
                                
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .fa-twitter {
  color: green;
}
.fa-twitte {
  color: red;
}

    .fa-facebook-official {
  color: green;
}
.fa-facebook-officia {
  color: red;
}


    .fa-rss {
  color: green;
}
.fa-rs {
  color: red;
}



</style>


