<div class="main" ng-controller="writingTaskCtrl as ctrl" ng-show="ShowAdminForm">

    <div id="main-content">
        <div class="header-wrapper">
            <header class="clearfix">
                <nav class="navbar navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-7 col-sm-8 col-md-7 col-lg-8" id="">
                                <ul class="cus-breadcrumb visible-md-block visible-lg-block reset pull-left">
                                    <li class="" ng-show="!hideNavBar && !editForm">Manage Writing Task</li>

                                    <li class="link" ng-click="cancelUser();" ng-show="hideNavBar"><a>Manage Writing Task</a></li>
                                    <li class="link" ng-click="cancelUser();" ng-show="editForm"><a>Manage Writing Task</a></li>


                                    <li class="" ng-show="hideNavBar">Create New Task</li>
                                    <li class="" ng-show="editForm">Writing Task Details: {{title}}</li>


                                </ul>
                                <ul class="hidden-md hidden-lg pull-left reset">
                                    <li><a ng-click="fnClickBar();"><i class="fa fa-bars"></i></a></li>
                                    <li>BeSociably</li>
                                </ul>
                                <button class="pri-cus-buttons pull-right visible-md-block visible-lg-block" ng-show="!hideNavBar && !editForm" ng-click="showAddForm()"><i class="fa fa-plus"></i> Create New Task</button>
                            </div>
                            <div class="col-xs-5 col-sm-4 col-md-5 col-lg-4 text-right" id="test" ng-include="'views/headerDropDown.html'">


                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </header>
        </div>
        <!-- .header-wrapper End -->
        <div class="page-contents">
            <div class="container-fluid">
                <div class="list-view">
                    <div class="row hidden-md hidden-lg mob-heads">
                        <div class="col-xs-9 col-sm-8">
                            <h3>Manage Writing Task</h3>
                        </div>
                        <div class="col-xs-3 col-sm-4 text-right">
                            <button class="pri-cus-buttons" ng-click="showAddForm()" ng-show="!hideNavBar && !editForm"><i class="fa fa-plus"></i> Create New Task</button>
                        </div>
                    </div>
                    <div class="row" ng-show="!hideAddUserForm">
                        <div class="col-lg-12 filter-container">
                            <label ng-model="collapsed" ng-click="collapsed = !collapsed"><i class="fa fa-chevron-down"></i> Filter</label>
                            <div class="filter-fields form-inline" ng-show="collapsed">
                                <div class="form-group">
                                    <label for="form_user">Writing Task</label>
                                    <select class="form-control" id="form_user" ng-model="taskToFilter" ng-change="shri(taskToFilter);">
                                        <option value="Assigned">Assigned Tasks</option>
                                        <option value="Pending Approval">Pending Approval Tasks</option>
                                        <option value="Approved">Approved Tasks</option>
                                        <option value="Declined">Declined Tasks</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-default mar-0-5" ng-click="Reset();">Reset</button>
                            </div>
                        </div>
                    </div>
                    <!-- end of .filter-container -->
                    <div class="row" ng-show="!hideAddUserForm">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="table-responsive cus-cards">
                                <table wt-responsive-table class="table table-striped responsive">
                                    <thead>
                                        <tr>
                                            <th ng-click="userManagementSort(asc=!asc,'Title');">Title <i class="fa fa-sort"></i></th>
                                            <th>Platform</th>
                                            <th ng-click="userManagementSort(asc=!asc,'Category');">Category <i class="fa fa-sort"></i></th>
                                            <th ng-click="userManagementSort(asc=!asc,'Writer');">Writer <i class="fa fa-sort"></i></th>
                                            <th ng-click="userManagementSort(asc=!asc,'Editor');">Editor <i class="fa fa-sort"></i></th>
                                            <th>Created By</th>
                                            <th ng-click="userManagementSort(asc=!asc,'Client');">Client <i class="fa fa-sort"></i></th>
                                            <th ng-click="userManagementSort(asc=!asc,'Amount');">Amount <i class="fa fa-sort"></i></th>
                                            <th>Due Date</th>
                                            <th>Saved On</th>
                                            <th ng-click="userManagementSort(asc=!asc,'Status');">Status <i class="fa fa-sort"></i></th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="list in TaskLists | filter:taskToFilter | pagination : currentPage*itemsPerPage | limitTo: itemsPerPage">
                                        <tr>
                                            <td>{{list.Title}}</td>
                                            <td>{{list.Platform}}</td>
                                            <td>{{list.Category}}</td>
                                            <td>{{list.Writer}}</td>
                                            <td>{{list.Editor}}</td>
                                            <td>{{list.CreatedBy}}</td>
                                            <td>{{list.Client}}</td>
                                            <td>{{list.Amount}}</td>
                                            <td>{{list.DueDate}}</td>
                                            <td>{{list.SavedOn}}</td>
                                            <td>{{list.Status}}</td>
                                            <td>
                                                <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Details" tooltip ng-click="fnGetInfo(list.id)"></i>
                                                <i class="fa fa-trash-o" data-toggle="tooltip" data-placement="top" title="Delete" tooltip ng-click="fnDelete(list.id)"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="12">
                                                <strong>Brief :</strong>
                                                <span>{{list.Brief}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end of content -->
                    <div class="row" ng-show="!hideAddUserForm">
                        <div ng-hide=" returnedData.length < 1 || TaskLists.length < 1" class="col-sm-12 col-md-12 col-lg-12">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <ul class="cus-pagination reset">
                                        <li ng-repeat="n in range()" ng-class="{current: n == currentPage}" ng-click="setPage(n)">
                                            <a href="">{{n+1}}</a></li>
                                    </ul>
                                </div>

                                <div class="pagination-div pull-right">
                                    <nav>
                                        <ul class="cus-pagination-pager reset">
                                            <li>
                                                <button class="pri-cus-buttons" ng-class="DisablePrevPage()" ng-click="prevPage()" ng-disabled="predisable"><i class="fa fa-angle-double-left"></i> Previous</button>
                                            </li>

                                            <li>
                                                <button class="pri-cus-buttons" ng-class="DisableNextPage()" ng-click="nextPage()" ng-disabled="nextdisable">Next <i class="fa fa-angle-double-right"></i></button>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end of .pagination -->
                </div>

                <div class="row form-view" ng-show="hideAddUserForm && !editForm">
                    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                        <div class="cus-panels-with-pad mar-10-0">
                            <form name="witing-new-task" class="styles">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label for="title">Title</label>
                                            <input type="text" class="form-control" id="title" ng-model="title">
                                            <span class=required ng-show="submitted && !title">Give Title</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="sdate">Schedule Date</label>
                                            <datepicker date-format="MM/dd/yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                                                <input class="form-control" id="sdate" ng-model="sdate" ng-change="checkErr(startDate,endDate)">
                                            </datepicker>

                                        </div>
                                        <span class=required ng-show="submitted && !sdate">Select Schedule Date</span>
                                    </div>


                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="ddate">Due Date</label>
                                            <datepicker date-format="MM/dd/yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                                                <input class="form-control" id="ddate" ng-model="ddate" ng-change="checkErr(startDate,endDate)">
                                            </datepicker>

                                        </div>
                                        <span class=required ng-show="submitted && !ddate">Select Due Date</span>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="stime">Schedule Time</label>

                                            <ng-timepicker id="timePicker" class="dropdown" init-time="00:00" ng-model="ctrl.stime1" object-to-inject="injectedObject"></ng-timepicker>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="amount">Amount</label>
                                            <input type="text" class="form-control" id="amount" placeholder="In USD" ng-model="amount">
                                            <span class=required ng-show="submitted && !amount"> Amount required</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="editor">Editor</label>
                                            <select class=form-control ng-model="Editor" name="Editor" ng-options="editor as editor.EditorName for editor in EditorLookup" required>
                                                <option value="" selected>-- Select Editor Type --</option>
                                            </select>
                                            <span class=required ng-show="submitted && !Editor">Select Editor</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="writer">Writer</label>
                                            <select class=form-control ng-model="Writer" name="Writer" ng-options="writer as writer.WriterName for writer in WriterLookup" required>
                                                <option value="" selected>-- Select Writer --</option>
                                            </select>
                                            <span class=required ng-show="submitted && !Writer">Select Writer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="client">Client</label>
                                            <select class=form-control ng-model="Client" name="Client" ng-options="client as client.ClientName for client in ClientLookUp" required>
                                                <option value="" selected>-- Select Client --</option>
                                            </select>
                                            <span class=required ng-show="submitted && !Client">Select Client</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="category">Category</label>
                                            <select class=form-control ng-model="Category" name="Category" ng-options="category as category.CategoryN for category in CategoryLookup" required>
                                                <option value="" selected>-- Select Category Type --</option>
                                            </select>
                                            <span class=required ng-show="submitted && !Category">Select Category</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="platform">Platform</label>
                                            <select class=form-control ng-model="Platform" name="Platform" ng-options="platform as platform.PName for platform in PlatformLookup" ng-change="platformChanging(Platform)" required>
                                                <option value="" selected>-- Select Platform Type --</option>
                                            </select>
                                            <span class=required ng-show="submitted && !Platform">Select Platform</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="status">Status</label>
                                            <select class=form-control ng-model="Status" name="Status" ng-options="status as status.SName for status in StatusLookup" required>
                                                <option value="" selected>-- Select Status Type --</option>
                                            </select>
                                            <span class=required ng-show="submitted && !Status">Select Writer</span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label for="brife">Brief</label>
                                            <textarea class="form-control" id="brife" rows="3" ng-model="brife"></textarea>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-sm-12 col-md-12 clearfix">

                                        <button type="button" class="pri-cus-buttons pull-right" ng-click="AddUser();" ng-show="showSaveButton">Save</button>
                                        <button type="button" class="btn btn-default pull-right" ng-click="cancelUser();">Cancel</button>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
                <!--end of create form-->
                <div class="row form-view" ng-show="hideAddUserForm && editForm">
                    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                        <div class="cus-panels-with-pad mar-10-0">
                            <form name="manage-content" class="styles">
                                <fieldset>
                                    <legend>Task Summary</legend>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label for="title">Title</label>
                                                <div class="control-group" ng-class=" {true: 'error'}[submitted && writingTaskForm.title.$invalid]">
                                                    <input type="text" class="form-control" id="title" ng-model="title" name="title" required>
                                                    <span class=required ng-show="submitted && writingTaskForm.title.$error.required">Give Title</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label for="sdate">Schedule Date</label>
                                                <datepicker date-format="MM/dd/yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                                                    <input class="form-control" id="sdate" ng-model="sdate" ng-change="checkErr(startDate,endDate)">
                                                </datepicker>

                                            </div>
                                            <span class=required ng-show="submitted && !sdate">Select Schedule Date</span>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label for="ddate">Due Date</label>
                                                <datepicker date-format="MM/dd/yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                                                    <input class="form-control" id="ddate" ng-model="ddate" ng-change="checkErr(startDate,endDate)">
                                                </datepicker>

                                            </div>
                                            <span class=required ng-show="submitted && !ddate">Select Due Date</span>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label for="stime">Schedule Time</label>
                                                <ng-timepicker id="timePicker" ng-model="ctrl.stime1" class="dropdown" object-to-inject="injectedObject"></ng-timepicker>

                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label for="amount">Amount</label>
                                                <div class="control-group" ng-class=" {true: 'error'}[submitted && writingTaskForm.amount.$invalid]">
                                                    <input type="text" class="form-control" id="amount" ng-model="amount" name="amount" required>
                                                    <span class=required ng-show="submitted && writingTaskForm.amount.$error.required">Amount required</span>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label for="editor">Editor</label>
                                                <div class="control-group" ng-class=" {true: 'error'}[submitted && writingTaskForm.Editor.$invalid]">
                                                    <select class=form-control ng-model="Editor" name="Editor" ng-options="editor.id as editor.EditorName for editor in EditorLookup" required>
                                                        <option value="" selected>-- Select Editor Type --</option>
                                                    </select>
                                                    <span class=required ng-show="submitted && writingTaskForm.Editor.$error.required">Select Writer</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label for="writer">Writer</label>
                                                <div class="control-group" ng-class=" {true: 'error'}[submitted && writingTaskForm.Writer.$invalid]">
                                                    <select class=form-control ng-model="Writer" name="Writer" ng-options="writer.id as writer.WriterName for writer in WriterLookup" required>
                                                        <option value="" selected>-- Select Writer Type --</option>
                                                    </select>
                                                    <span class=required ng-show="submitted && writingTaskForm.Writer.$error.required">Select Writer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label for="client">Client</label>
                                                <div class="control-group" ng-class=" {true: 'error'}[submitted && writingTaskForm.Client.$invalid]">
                                                    <select class=form-control ng-model="Client" name="Client" ng-options="client.id as client.ClientName for client in ClientLookUp" required>
                                                        <option value="" selected>-- Select Client Type --</option>
                                                    </select>
                                                    <span class=required ng-show="submitted && writingTaskForm.Client.$error.required">Select Client</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label for="category">Category</label>
                                                <div class="control-group" ng-class=" {true: 'error'}[submitted && writingTaskForm.Category.$invalid]">
                                                    <select class=form-control ng-model="Category" name="Category" ng-options="category.id as category.CategoryN for category in CategoryLookup" required>
                                                        <option value="" selected>-- Select Category Type --</option>
                                                    </select>
                                                    <span class=required ng-show="submitted && writingTaskForm.Category.$error.required">Select Category</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label for="platform">Platform</label>
                                                <div class="control-group" ng-class=" {true: 'error'}[submitted && writingTaskForm.Platform.$invalid]">
                                                    <select class=form-control ng-model="Platform" name="Platform" ng-options="platform.id as platform.PName for platform in PlatformLookup" required>
                                                        <option value="" selected>-- Select Platform Type --</option>
                                                    </select>
                                                    <span class=required ng-show="submitted && writingTaskForm.Platform.$error.required">Select Platform</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label for="status">Status</label>
                                                <div class="control-group" ng-class=" {true: 'error'}[submitted && writingTaskForm.Status.$invalid]">
                                                    <select class=form-control id="status123" ng-model="Status" name="Status" ng-options="status.id as status.SName for status in StatusLookup"   required></select>
                                                    <span class=required ng-show="submitted && writingTaskForm.Status.$error.required">Select status</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label for="brife">Brief</label>
                                                <textarea class="form-control" id="brife" rows="3" ng-model="brife"></textarea>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label for="brife">Notes</label>
                                                <textarea class="form-control" id="Notes" rows="3" ng-model="Notes"></textarea>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label for="brife">Logs</label>
                                                <textarea class="form-control" id="Logs" rows="3" ng-model="Logs"></textarea>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label for="brife">Decline reason</label>
                                                <div class="control-group" ng-class=" {true: 'error'}[submitted && writingTaskForm.declineReason.$invalid]">
                                                    <textarea class="form-control" id="declineReason" rows="3" ng-model="declineReason" name="declineReason" required></textarea>
                                                    <span class=required ng-show="submitted && writingTaskForm.declineReason.$error.required">Give Decline reason</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 clearfix">
                                            <button type="button" class="pri-cus-buttons pull-right" ng-click="declineWriter();" ng-show="!showSaveButton">Decline & send back to writer</button>

                                        </div>
                                    </div>
                                    <div ng-show="dispalyFBContent">
                                        <legend>Facebook Content</legend>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label for="fbmicro">Microblog</label>
                                                    <div class="control-group" ng-class=" {true: 'error'}[submitted && writingTaskForm.fbmicro.$invalid]">
                                                        <textarea class="form-control" id="fbmicro" rows="3" name="fbmicro" ng-model="fbmicro" required maxlength="300" ng-trim="false"> </textarea> <span>{{300 - fbmicro.length}} Characters Left</span>
                                                        <span class=required ng-show="submitted && writingTaskForm.fbmicro.$error.required">Give Microblog Content</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label for="fbtitle">Title</label>
                                                    <div class="control-group" ng-class=" {true: 'error'}[submitted && writingTaskForm.fbtitle.$invalid]">
                                                        <input type="text" class="form-control" id="fbtitle" name="fbtitle" ng-model="fbtitle" required>
                                                        <span class=required ng-show="submitted && writingTaskForm.fbtitle.$error.required">Give Title</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label for="fbtitlelink">Title Link</label>
                                                    <div class="control-group" ng-class=" {true: 'error'}[submitted && writingTaskForm.fbtitlelink.$invalid]">
                                                        <input type="text" class="form-control" id="fbtitlelink" name="fbtitlelink" ng-model="fbtitlelink">
                                                        <span class=required ng-show="submitted && writingTaskForm.fbtitlelink.$error.required">Give Title Link</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label for="fbdes">Description</label>
                                                    <div class="control-group" ng-class=" {true: 'error'}[submitted && writingTaskForm.fbdes.$invalid]">
                                                        <textarea class="form-control" id="fbdes" rows="3" name="fbdes" ng-model="fbdes" required maxlength="300" ng-trim="false"></textarea> <span>{{300 - fbdes.length}} Characters Left</span>
                                                        <span class=required ng-show="submitted && writingTaskForm.fbdes.$error.required">Give Description</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label for="">Picture</label>
                                                    <input type="file" ng-model="FBmyfile" base-sixty-four-input accept="image/gif, image/jpeg, image/png" onchange="document.getElementById('taskfb').src = window.URL.createObjectURL(this.files[0])">

                                                </div>
                                            </div>
                                        </div>
                                         <div class="row" ng-show="TaskimgLink.length > 25 || FBmyfile">
                                    <div class="col-sm-12 col-md-4">
                                        <div class="dz-default">  
                                             <img  src="{{TaskimgLink}}" id="taskfb"  ng-model="blahfbk"  width="100%" height="100%"/>

                                        </div>
                                        <a ng-click="removetaskfb();FBmyfile=''"> <i class="fa fa-times"></i> Remove Picture</a>
                                    </div>
                                </div>

                                        <legend>URL Shortener</legend>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="lurl">Long Url</label>
                                                    <input type="text" class="form-control" id="lurl" ng-model="longUrl">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="surl">Short Url</label>
                                                    <input type="text" class="form-control" id="surl" ng-model="shortedUrl">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <div class="form-group text-right">
                                                    <button type="button" class="btn btn-default" ng-click="resetURL()">Reset</button>

                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group text-left">
                                                    <button type="button" class="pri-cus-buttons " ng-click="shortURL(longUrl)">Shorten URL</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div ng-show="dispalyTWContent">
                                        <legend>Twitter Content</legend>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label for="twmicro">Microblog</label>
                                                    <div class="control-group" ng-class=" {true: 'error'}[submitted && writingTaskForm.twmicro.$invalid]">
                                                        <textarea class="form-control" id="twmicro" rows="3" name="auditTwtMblog" ng-model="twmicro" required maxlength="140" ng-trim="false"></textarea> <span>{{140 - twmicro.length}} Characters Left</span>
                                                        <span class=required ng-show="submitted && writingTaskForm.twmicro.$error.required">Give Microblog Content</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label for="">Picture</label>
                                                    <div>
                                                        <input type="file" ng-model="twmyfile" base-sixty-four-input accept="image/gif, image/jpeg, image/png" onchange="document.getElementById('tasktwit').src = window.URL.createObjectURL(this.files[0])">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                          <div class="row" ng-show="TaskimgLink.length > 25 || twmyfile">
                                    <div class="col-sm-12 col-md-4">
                                        <div class="dz-default">  
                                             <img  src="{{TaskimgLink}}" id="tasktwit"  ng-model="blahtwit"  width="100%" height="100%"/>

                                        </div>
                                        <a ng-click="removetasktwit();twmyfile=''"> <i class="fa fa-times"></i> Remove Picture</a>
                                    </div>
                                </div>
                                        <legend>URL Shortener</legend>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="lurl">Long Url</label>
                                                    <input type="text" class="form-control" id="lurl" ng-model="longUrl">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="surl">Short Url</label>
                                                    <input type="text" class="form-control" id="surl" ng-model="shortedUrl">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <div class="form-group text-right">
                                                    <button type="button" class="btn btn-default" ng-click="resetURL()">Reset</button>

                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group text-left">
                                                    <button type="button" class="pri-cus-buttons " ng-click="shortURL(longUrl)">Shorten URL</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div ng-show="dispalyBlogContent">
                                        <legend>Blog Content</legend>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label for="btitle">Title</label>
                                                    <div class="control-group" ng-class=" {true: 'error'}[submitted && writingTaskForm.btitle.$invalid]">
                                                        <input type="text" class="form-control" name="btitle" ng-model="btitle" id="btitle" required>
                                                        <span class=required ng-show="submitted && writingTaskForm.btitle.$error.required">Give Title</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label for="blog-content">Content</label>
                                                    <div class="control-group" ng-class=" {true: 'error'}[submitted && writingTaskForm.htmlcontent.$invalid]">
                                                        <div text-angular="text-angular" name="htmlcontent" class="textangular" ng-model="htmlcontent" ta-disabled='disabled' required></div>
                                                        <span class=required ng-show="submitted && writingTaskForm.htmlcontent.$error.required">Give Content</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label for="tags">Tags</label>
                                                    <div class="control-group" ng-class=" {true: 'error'}[submitted && writingTaskForm.tags.$invalid]">
                                                        <input type="text" class="form-control" name="tags" ng-model="tags" id="tags" required maxlength="255" ng-trim="false"> <span>{{255 - tags.length}} Characters Left</span>
                                                        <span class=required ng-show="submitted && writingTaskForm.tags.$error.required">Give Tags</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label for="">Featured Image</label>
                                                    <div>
                                                        <input type="file" ng-model="wpmyfile" base-sixty-four-input accept="image/gif, image/jpeg, image/png" maxsize="750px" onchange="document.getElementById('taskblg').src = window.URL.createObjectURL(this.files[0])">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                           <div class="row" ng-show="TaskimgLink.length > 25 || wpmyfile">
                                    <div class="col-sm-12 col-md-4">
                                        <div class="dz-default">  
                                             <img  src="{{TaskimgLink}}" id="taskblg"  ng-model="blahblg"  width="100%" height="100%"/>
                                        </div>
                                        <a ng-click="removetaskblg();wpmyfile=''"> <i class="fa fa-times"></i> Remove Picture</a>
                                    </div>
                                </div>
                                    </div>

                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 text-center  mar-10">
                                            <button type="button" class="btn btn-default" ng-click="cancelUser();">Cancel</button>
                                            <button type="button" ng-show="approveScheduleBtn" class="sec-cus-buttons mar-5" ng-click="ScheduleAndApproval()">Approve &amp; Schedule</button>
                                            <label ng-show="approveScheduleBtn">or</label>
                                            <button type="button" ng-show="clientApprovalBtn" class="sec-cus-buttons mar-5" ng-click="SendClientApproval()">Approve &amp; Send Client</button>
                                            <button type="button" class="pri-cus-buttons" ng-click="editUserSubmit();" ng-show="!showSaveButton">Save</button>

                                        </div>
                                    </div>
                                </fieldset>


                            </form>
                        </div>
                    </div>
                </div>
                <!--end of edit form-->
            </div>
        </div>
    </div>
</div>